* {
  box-sizing:border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

html {
  height:100vh;
}

body {
  height:100vh;
  font-family: 'Poppins', sans-serif;

  display:flex;
  justify-content:center;
  align-items:center;
  color:#10214e;
}

article {
  width:50vw;
  max-width: 28em;
  min-width:20em;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  background: rgb(0,239,255);
  background: #3B79D5;
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  /* border-radius:1rem; */
  position: relative;
  transition:.25s;
}

header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  justify-content:flex-end;
  
}

h1 {
  margin:2rem 0 0rem;
  color: rgb(255, 255, 255);
}

header p{
  transition: .7s;
  color: #fff;
}

header p:hover{
  font-size:  18px;
  transform:  .7s;
  color: white;
}

button {
  border:none;
  position: absolute;
  right:1rem;
  top:1rem;
  width:2.5rem;
  height:2.5rem;
  transform: scale(.8);
  background: rgba(0,239,255,1);
  border-radius:50%;
  padding:.25rem;
  transition:.25s;
}
button:focus {
  outline:none;
  background:#202592;
}
button:focus svg {
  stroke: rgba(0,239,255,1);
}

svg {
  stroke: #4e54c8;
  position: absolute;
  top:calc(1.25rem - 12px);
  left:calc(1.25rem - 12px);
  transition-delay: .25s;
}
button svg:nth-of-type(2) {
  opacity:0;
  transition-delay: 0ms;
}

img {
  width:10em;
  border-radius:10em;
  /* border:5px solid #fff; */
  box-shadow:0 0 10px 4px rgba(255, 255, 255, 0.4);
  position:relative;
  top:2rem;
  transition:.25s .15s;
}

dl {
  width:100%;
  background: rgb(255,255,255);
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items:center;
  align-items:start;
  padding:5rem 0 3rem;
  margin-top: -3rem;
  margin-bottom: 0;
  text-align: center;
}

dt{
  border-top: 1px solid rgba(0,0,0,0.3);
  padding-top: .25rem;
  margin-top: .25rem;
}
dt:nth-of-type(1){ grid-area: html-dt; }
dt:nth-of-type(2){ grid-area: css-dt; transform: translateY(1rem);}
dt:nth-of-type(3){ grid-area: js-dt; }

dd {
  margin:0;
  font-weight: bold;
  padding-left:.3rem;
  transition:.25s .3s;
}
dd:nth-of-type(2){  
  transform: translateY(1rem);
}

p { 
  margin:0
}

article > p {
  padding:3rem 2rem;
  margin-top: 0;
  background:rgba(255,255,255, 0.5);
  text-align:center;
  border-radius: 0 0 1rem 1rem;
  width:100%;
}

/* expand content */
body.expand {
  font-size:1.15em;
}

body.expand article {
  width:60vw;
  max-width: 60vw;
}

body.expand button svg:first-of-type {
  opacity:0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity:1;
  transition-delay:.25s;
}

body.expand dd {
  font-size: 1.75em;
}

body.expand img {
  width:15em;
}

/* Slideshow */

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: rgb(0,239,255);
  background: #3B79D5;
  width: 100%;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}

.info img{
  position: relative;
  top: 0;
  left: 0;
  width: 9em;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.tekst{
  text-align: center;
  margin-left: 20px;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev{
  text-shadow: 1px 0px 8px rgb(255, 255, 255);
}

.next{
  text-shadow: -1px 0px 8px rgb(255, 255, 255);
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.txtslide{
  color: white;
  margin-top: 10px;
  font-size: .8em;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    /* background: #ddd; */
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: white;
  font-size: 1.1em;
  font-weight: 900  ;
}